*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.mult,
.div,
.adi,
.sub{
    /* background-color: gray; */
    padding: 1rem;
    margin: 0.2rem;
    background-color: rgb(78, 77, 77);
    text-align: center;
    color: white;
    font-weight: 500;
}


.grid-container {
    display: grid;
    grid-template-columns: 100px 100px;
    
}

.grid-item {
    cursor: pointer;
}

.active {
    background-color: blue;
}